body {
    margin: 0;
    padding: 0;
    background-color: #123;
}


.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
}